<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/estilos.css">
    <script src="https://kit.fontawesome.com/55041fcbbc.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Dulce De Angel</title>

    <link rel="shortcut icon" href="../public/img/15.jpg" type="image/x-icon">  
</head>
<body>
    <header>
        <a href="../views/index.html" class="encabezado">Dulce De Angel</a>
        <div class="mmc">
            <a href="#">Inicio</a>
            <a href="../views/productos.html">Productos</a>
            <a href="../views/Sobrenosotros.html">Sobre Nosotros</a>
            <a href="http://localhost/crud_dulce/index.php">Registros</a>

        </div>
              <img src="../public/img/15.jpg" alt="ICONO LOCO">
    </header>
    <section class="olis"id="olis">
        <div class="contenido">
            <h3>Dulce De Angel</h3>
            <span><h4>Comparte tus momentos mas dulces</h4></span>
            <h4><p>Tú mismo decides como endulzas tu vida, lo importante ante todo es poder ser feliz a tu manera, aunque no es malo olvidar que la vida es mejor si la endulzas con una cucharadita de azúcar.
                Para todo momento sin importar el día más gris, recuerda poner una linda sonrisa, con la cual puedes llegar a alegrar a la persona que lo pueda necesitar o le haga 
                falta recordarle, ¿cómo puedes hacerlo? sonriendo y endulzando su vida.</h4>
            </p>
        </div>
    </section>
    <section class="nosotros" id="nosotros">
        <h1 class="camis">¿Quienes Somos?</h1>
        <div class="majo">
            <p>Somos una pequeña microempresa, la cual, con mucho esmero, se esfuerza por diseñar 
                los más ricos y deliciosos turrones y bombones de chocolate que haber.
                Tratamos cada día de poder perfeccionarnos cada vez más, se ha podido 
                aprender de los errores que se han cometido al intentar hacer nuevas creaciones.
            </p>
            <br>
            <p>
                Siempre podremos estar a tu disposición en cualquier momento del día, para que puedas tener 
                la confianza en nosotros y realizar el pedido más exquisito que llegues a desear, desde unos pequeños 
                granos de café con su delicioso olor y sabor a café, hasta unas deliciosas choco galletas en formas de rosas,
                y claro obviamente no podría faltar nuestros deliciosos choco masmelos y fresas con chocolate, cubiertos con una deliciosa capa de chocolate de leche o chocolate blanco fundidos.

            </p>
            <br>
            <p>
                Estaremos aquí, para ofrecerte el mejor servicio que te mereces siendo nuestro cliente, nuestra inmensa gratitud es poder ver tu cara llena de plena satisfacción al momento de realizar
                una compra de nuestro pequeño emprendimiento, siempre te vamos a entender con una gran sonrisa y los brazos abiertos.

            </p>
        </div>
    </section>
    <a href="../views/productos.html"><img src="../public/img/31.jpg" class="img31" alt=""></a>
    <a href="../views/productos.html"><img src="../public/img/22.jpg" class="img22" alt=""></a>
    <a href="../views/productos.html"><img src="../public/img/30.jpg" class="img30" alt=""></a>

    <footer>
        <div class="iconos_2">
            <a href="#">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#">
               <i class="fa-brands fa-whatsapp"></i> 
            </a>
        </div>
    </footer>
</body>
</html>