<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/productos.css">
    <script src="https://kit.fontawesome.com/55041fcbbc.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="shortcut icon" href="../public/img/15.jpg" type="image/x-icon">
    <title>Productos</title>
</head>
<body>
    <header>
        <a href="../views/index.html" class="encabezado">Dulce De Angel</a>
        <div class="mmc">
            <a href="../views/index.html">Inicio</a>
            <a href="../views/productos.html">Productos</a>
            <a href="../views/Sobrenosotros.html">Sobre Nosotros</a>
            <a href="http://localhost/crud_dulce/index.php">Registros</a>

        </div>
        <img src="../public/img/15.jpg" alt="">
    </header>


    <section class="productos" id="productos">

        <h1 class="heading">PRODUCTOS</h1>

        <div class="caja-contenedora">

        <div class="caja">
            <div class="imagenes">
                <img src="../public/img/34.jpg" alt="">
            </div>
            <div class="contenido">
                <h3>Caja de fresas con chocolates</h3>
                <div class="precio">$10.000</div>
            </div>
        </div>

        <div class="caja">
            <div class="imagenes">
                <img src="../public/img/33.jpeg" alt="">
            </div>
            <div class="contenido">
                <h3>Ramos de fresas chocolate</h3>
                <div class="precio">$50.000</div>
            </div>
        </div>

        <div class="caja">
            <div class="imagenes">
                <img src="../public/img/22.jpg" alt="">
            </div>
            <div class="contenido">
                <h3>Fresones de chocolates</h3>
                <div class="precio">$50.000</div>
            </div>
        </div>

        <div class="caja">
            <div class="imagenes">
                <img src="../public/img/4.jpg" alt="">
            </div>
            <div class="contenido">
                <h3>Rosas de chocolate "chocolate semi amargo"</h3>
                <div class="precio">$4.000</div>
            </div>
        </div>

        <div class="caja">
            <div class="imagenes">
                <img src="../public/img/31.jpg" alt="">
            </div>
            <div class="contenido">
                <h3>Girasoles de Chocolates "chocolate semi amargo"</h3>
                <div class="precio">$4.000</div>
            </div>
        </div>

        <div class="caja">
            <div class="imagenes">
                <img src="../public/img/17.jpg" alt="">
            </div>
            <div class="contenido">
                <h3>Bombon corazon de Chocolate</h3>
                <div class="precio">$1.500</div>
            </div>
        </div>

        <div class="caja">
            <div class="imagenes">
                <img src="../public/img/7.jpg" alt="">
            </div>
            <div class="contenido">
                <h3>Rosas y Claveles de Chocolate</h3>
                <div class="precio">$800</div>
            </div>
        </div>

        <div class="caja">
            <div class="imagenes">
                <img src="../public/img/39.jpg" alt="">
            </div>
            <div class="contenido">
                <h3>Tarjerta de Chocolate</h3>
                <div class="precio">$300</div>
            </div>
        </div>

        <div class="caja">
            <div class="imagenes">
                <img src="../public/img/13.jpg">
            </div>
            <div class="contenido">
                <h3>Chocotransfer</h3>
                <div class="precio">$3.000</div>
            </div>
        </div>

        <div class="caja">
            <div class="imagenes">
                <img src="../public/img/25.jpg" alt=""><h3>
            </div>
            <div class="contenido">
                <h3>Mensaje para Mamá</h3>
                <div class="precio">$35.000</div>
            </div>
        </div>

        <div class="caja">
            <div class="imagenes">
                <img src="../public/img/23.jpg" alt="">
            </div>
            <div class="contenido">
                <h3>Mensajes Especiales</h3>
                <div class="precio">$25.000 - $45.000</div>
            </div>
        </div>

        <div class="caja">
            <div class="imagenes">
                <img src="../public/img/26.jpg" alt="">
            </div>
            <div class="contenido">
                <h3>Para Celebrar</h3>
                <div class="precio">$20.000</div>
            </div>
        </div>

        <div class="caja">
            <div class="imagenes">
                <img src="../public/img/16.jpeg" alt="">
            </div>
            <div class="contenido">
                <h3>Chocogalletas en forma de rosas</h3>
                <div class="precio">$20.000</div>
            </div>
        </div>

        <div class="caja">
            <div class="imagenes">
                <img src="../public/img/41.jpg" alt="">
            </div>
            <div class="contenido">
                <h3>Chocogalletas</h3>
                <div class="precio">$1.000</div>
            </div>
        </div>

        <div class="caja">
            <div class="imagenes">
                <img src="../public/img/40.jpg" alt="">
            </div>
                <div class="contenido">
                    <h3>Chocomasmelos</h3>
                    <div class="precio">$1.000</div>
            </div>
        </div>

        </div>
    </section>

    <footer>
        <div class="iconos_2">
            <a href="#">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#">
               <i class="fa-brands fa-whatsapp"></i> 
            </a>
        </div>
    </footer>
    
</body>
</html>