<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/Sobrenosotros.css">
    <script src="https://kit.fontawesome.com/55041fcbbc.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="shortcut icon" href="../public/img/15.jpg" type="image/x-icon">
    <title>conócenos</title>
</head>
<body>
    <header>
        <a href="../views/index.html" class="encabezado">Dulce De Angel</a>
        <div class="mmc">
            <a href="../views/index.html">Inicio</a>
            <a href="../views/productos.html">Productos</a>
            <a href="../views/Sobrenosotros.html">Sobre Nosotros</a>
            <a href="http://localhost/crud_dulce/index.php">Registros</a>


        </div>
        <img src="../public/img/15.jpg" alt="">
    </header>
    <section class="olis"id="olis">
        <div class="contenido">
            <h3 class="barra">MISIÓN</h3>
            <p>Promover nuestros productos transformándolos llamativamente para que de esta forma podamos atraer más clientes; 
                poder mostrarles la calidad, variedad y los mejores precios de nuestros dulces y a si disfruten y se sientan atraídos, 
                animados a consumirlos; llevarlos como detalle o para gusto personal.

            </p>
            <h3 class="barra">VISION</h3>
            <p> Nuestro gran anhelo es tener nuestra tienda, de igual manera poder llevar nuestro producto no solo a nuestro entorno, si no poderlo comercializar y darnos a conocer a nivel nacional, 
                poder mostrar nuestro interés, amabilidad, carisma y los más importante nuestra pasión por lo que hacemos.
                Cada día para nosotros es un reto del cual con su ayuda podremos ir mejorando para que nuestro emprendimiento pase a una microempresa y poder llegar hacer una empresa reconocida. 
            </p>
            <h3 class="barra tres">¿QUIENES SOMOS?</h3>
            <p>Somos un emprendimiento que empezó desde el año 2022, del cual quiero compartir con ustedes nuestra formación y crecimiento 
            </p>

            <p>
                Quiero empezar contando de donde nace la idea de los bombones de chocolate, en el año 2018 por cosas de la vida, nos hicieron un pedido de 100 bombones de chocolates los cuales no teníamos el mayor conocimiento de cómo se elaboraban, se decidió preguntar y nos dieron la idea que nosotros los elaboráramos, con mucha dedicación y esfuerzo los elaboramos, con esta experiencia quisimos continuar, pero no pensamos que nos generaría un gran comercio que nos llamara la atención.
            </p>

            <p> 
                En el año 2022, tuvimos la oportunidad de participar en la feria empresarial de la institución educativa San José que realizaron por su aniversario, quisimos retomar la idea que desde tiempo atrás habíamos tenido, en aquella muestra debíamos tenerle un nombre a nuestro emprendimiento; de tanto pensar de sacar tantas ideas, llegamos a la conclusión que el nombre tuviera mucho que ver con el producto de tantas ideas salió el nombre “DULCE DE ANGEL”,  no fue fácil, pero con mucha paciencia, dedicación, esmero y esfuerzo fuimos realizando poco a poco bombones, chocolates rellenos con estilos etc.… Empezamos a vender en salones de clase y algunos profesores del colegio y vimos la posibilidad de poder venderle a personas conocidas de nuestro entorno, al ver que teníamos éxito, tomamos la decisión de sacar publicidad y marcar los productos para que así se hicieran más reconocidos.
            </p>

            <p>
                Corrimos con una muy buena suerte, ya que tuvimos mucho apoyo por parte de nuestros allegados, decidimos tomar un curso para tener un amplio conocimiento, de todo esto nació la idea de empezar a elaborar las fresas cubiertas de chocolate, las choco galletas, choco masmelos y choco transfer.
            </p>

            <p>
                Ahora estamos realizando productos para toda ocasión, tenemos publicaciones en las redes sociales y gracias a nuestra perseverancia, nos está yendo muy bien. Ya nos están reconociendo lentamente y estamos teniendo pedidos hasta de personas que ven nuestros productos del exterior.
                Es muy gratificante saber que un pensamiento en este momento se convirtió en una realidad.
            </p>

            <p>
                Estos somos nosotros, y este es nuestro emprendimiento “DULCE DE ANGEL”.  
            </p>
        </div>
    </section>
    
    <footer>
        <div class="iconos_2">
            <a href="#">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#">
               <i class="fa-brands fa-whatsapp"></i> 
            </a>
        </div>
    </footer>
    
</body>
</html>